{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Beatriz Sabino</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	
</head>
<body>
<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/bia.jpg' %}" >
					<hr>
					<br>
					<h3>Hi I'm <span>Beatriz</span> !</h3>
					<p>I love coding and learning new things</p>
					<p>I'm also volunteering in a <strong>Women in tech community: </strong><a href="https://raparigasdocodigo.pt/" style="text-decoration: none ;"><span><strong>As Raparigas do Código</strong></span></a></p>
          				<h5 style="margin-top:5px"><strong>Let's connect!</strong></h5>
          				<ul style="margin-top: 10px" class="social-links">
						<li><a href="https://github.com/beatriz-sabino" target="_blank"><img class="social" src="{% static 'images/github-logo-face.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/beatriz-sabino96/" target="_blank"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Profile</h4>
					<hr>
					<p><em><strong>I’m a self-taught developer who found her passion for programming during the pandemic. Before that I was finishing my Master’s Degree and desiring to pursue a career as a Forensic Geneticist. I started this journey by learning Python through online courses and workshops.</em></strong></p>
          <p>As you can see my profession path is not so straightforward.</p>


					<p>I hold a Bachelor's Degree in Human Biology and a Master's Degree in Biomedical Sciences. During the pandemic I started learning how to program in Python and at the same time I realized that life in a laboratory would be a very monotonous and ordinary, which would not be a good career for myself as I need to be challenged on a daily basis. Because I was learning how to program and really enjoyed it I started to consider pursuing a career in IT. </p>

					<p> In August of last year I started an internship at Siemens working with a low code platform, Mendix, where I learned to develop my logical thinking and acquired many low code programming skills. I worked on several projects in various areas, from logistics to project and department management. Highlighting some of the projects I would like to mention one where I collaborated in the migration of an already existing SharePoint application to the Mendix platform, another where we did the integration of APIs with the Mendix platform and finally, the last project I was involved in was already working alone, always in close communication with the client in order to find the best solution for their needs.</p>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100  border-info">
					<h5>Experience</h5>
					<hr>
					<div class="row">
						<div class="col-md-8">
							<h6>Mendix Developer Trainee</h6>
							<p style="margin-top: 22px"><i>2021-2022</i></p>
							<p>Siemens</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/siemens-logo.png' %}" alt="Siemens" width="128" height="90" style="margin-top:-40px">
						</div>
					</div>
					<p>• Followed Mendix's low code platform best practices</p>
					<p>• Used <strong>Scrum methodology</strong></p>
					<p>• Integrated <strong>Rest APIs</strong></p>
					<p>• Domain Modelling and Web development <strong>(HTML, JavaScript, CSS)</strong></p>
					<p>• Wrote and maintained documentation</p>
					
					<p><strong>Other tools used:</strong></p>
					<p>• JIRA</p>
					<p>• Postman</p>
					
					<p><strong>Certification:</strong> Mendix Rapid Developer Certification – 2021</p>
					
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100  border-info">
					<h5>Education</h5>
					<hr>
					<div class="row">
						<div class="col-md-9">
							<h6>Master Degree in Biomedical Sciences</h6>
							<p style="margin-top: 22px"><i>2019-2022</i></p>
							<p>NOVA University Lisbon - IHMT</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/ihmt-logo.jpg' %}" alt="NOVA University Lisbon - IHMT" width="80" height="110">
						</div>
					</div>
					<br>
					<br>

					<div class="row">
						<div class="col-md-9">
							<h6>Bachelor Degree in Human Biology</h6>
							<p style="margin-top: 22px"><i>2016-2019</i></p>
							<p>University of Évora</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/ue-logo.jpg' %}" alt="University of Évora" width="80" height="80">
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100  border-info">
					<h5>Skills</h5>
					<hr>
					<ul class="skills" style="display:flex; flex-direction: row; justify-content: space-around">
						<li><img src="{% static 'images/mendix-logo.png' %}" alt="Mendix" width="80" height="80"></li>
						<li><img src="{% static 'images/python.png' %}" alt="Python" width="80" height="80"></li>
						<li><img src="{% static 'images/html-5.png' %}" alt="HTML" width="80" height="80"></li>
						<li><img src="{% static 'images/css-3.png' %}" alt="CSS" width="80" height="80"></li>
						<li><img src="{% static 'images/js.png' %}" alt="JavaScript" width="80" height="80"></li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100  border-info">
					<h5>Hobbies</h5>
					<hr>
					<ul class="hobbies" style="display:flex; flex-direction: row; justify-content: space-around">
						<li><img src="{% static 'images/read.png' %}" alt="Reading" width="80" height="80"></li>
						<li><img src="{% static 'images/watching-tv.png' %}" alt="Watching movies/tv shows" width="80" height="80"></li>
						<li><img src="{% static 'images/bicycle.png' %}" alt="Riding bicycle" width="80" height="80"></li>
						<li><img src="{% static 'images/woman.png' %}" alt="Learning new tech" width="80" height="80"></li>
						<li><img src="{% static 'images/pet.png' %}" alt="Playing with my cat" width="80" height="80"></li>	
					</ul>
				</div>
			</div>
		</div>
		<br>

			<div class="col-md-14">
				<div class="card card-body h-100  border-info">
					<h5>Projects</h5>
					<hr>
					<div class="d-flex justify-content-around">
						<a href="https://github.com/beatriz-sabino/My-Pomodoro-App" target="_blank"><img src="{% static 'images/pomodoro.jpg' %}" height="280px" width="340px"></a>
					</div>
						<a class="d-flex justify-content-around" href="https://github.com/beatriz-sabino/My-Pomodoro-App" target="_blank" style="color: inherit; text-decoration: none;"><strong>My Pomodoro 🍅</strong></a>
				</div>
			</div>
		<br>
	</div>
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
  
</body>
</html>
